body{
    display: grid;
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    height: 100vh;
}

.flex-container{
flex-direction: column;
align-items: center;
margin-top: 10px;
height: 100vh;


}

.undertext{
    font-weight: bolder;
    color: #b89106;
    width: 625px;
    height: 25px;
font-family: Lora;
}
.overtext{
    font-weight: bolder;
    color: #ffff;
    width: 625px;
    height: 60px;
    font-family: Secular One;


}

.Solarsystemttext{
    margin: auto;
   text-align: right;
   float: right;
   width: 625px;
   height: 121px;
   margin-top: 72px;
   margin-left: 747px;
   margin-right: 29px;

}