
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.planets{
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
}
.texten{
    text-align: right;
    margin-top: 72px;
  
}

.sun{
 text-align: start;
 display: flex;
 justify-content: left;
 height: 100vh;
}
    