
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.texten{
 display: flex;
 flex-direction: column;
 place-items: end;
   
   
}



.flex-container{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
margin-right: 375px;
margin-bottom: 100px;
    
}

.button {
    transition: all 0.3s ease-out;
  }
    

  #overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(238, 235, 235, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .popup__content {
    margin: 25% auto;
    padding: 1.3rem;
    background: #fff;
    border-radius: 0.6rem;
    width: 30%;
    position: relative;
    transition: all 1s ease-in-out;
    color: white;
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
  }
  #overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);

  }

  .popup-area {
    width: 40%;

    
  
  }
  
  
  