
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}


.texten{
 display: flex;
 flex-direction: column;
 place-items: end;
 color: white;
   
   
}



.flex-container{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
margin-right: 375px;
margin-bottom: 100px;
    
}
  
  .solarsystem-overlay {
    background-color: #000;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    display: none;
}
.solarsystem-overlay .body-info-container {
    border: 1px solid white;
    border-radius: 4px;
}
  